.imperio {
    background-color: red
}
.rebeldes {
    background-color: blue
}

#Vader {
    font-size: large;
}

#Luke {
    font: italic;
}

.soldados {
    border: dashed;
    letter-spacing: 5px;
}

.apoyo {
    text-align:center;
    text-transform: capitalize;
}